[submodule "plotting/simonplot"]
	path = plotting/simonplot
	url = https://github.com/ssrothman/simonplot.git
[submodule "plotting/simonpy"]
	path = plotting/simonpy
	url = https://github.com/ssrothman/simonpy.git
